$font: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$codeFont: 'Roboto Mono', SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$defaultColor: #000;
$defaultBackgroundColor: #fff;
