$font: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$codeFont: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
$defaultColor: #000;
$defaultBackgroundColor: #fff;