$font: 'Roboto', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$articleFont: 'Roboto Slab', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$codeFont: 'DejaVu Sans Mono', "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$defaultColor: #000;
$defaultBackgroundColor: #fff;
$mainColor: #055db5;
