html, body, app,
button, input, optgroup, select, textarea {
  font-family: $font;
  color: $defaultColor;
  font-size: 14px;
}

code, pre, .code {
  font-family: $codeFont;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.link {
  cursor: pointer;
}

// bootstrap
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  padding: .25em 0;
}

.form-control:focus {
  border-color: #4fa5c3;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}