html, body, app,
button, input, optgroup, select, textarea {
  font-family: $font;
  color: $defaultColor;
  font-size: 14px;
}

code, pre, .code {
  font-family: $codeFont;
  white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a:not([href]):not([tabindex]),
a {
  color: #0074D9;
}

a:not([href]):not([tabindex]).on,
a.on {
  color: #444;
  font-weight: bold;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.link {
  cursor: pointer;
}

.light-text {
  color: #aaa !important;
}

.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}

.flex-100 {
  flex-grow: 100;
}

.flex-center {
  display: flex;
  align-items: center;
}

// bootstrap
.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  padding: .25em 0;
}

.form-control:focus {
  border-color: #4fa5c3;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}