html, body, app,
button, input, optgroup, select, textarea {
  font-family: $font;
  color: $defaultColor;
  font-size: 14px;
}

code, pre, .code {
  font-family: $codeFont;
}

code, pre {
  white-space: pre-wrap;
  word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a:not([href]):not([tabindex]),
a {
  color: $mainColor;
  cursor: pointer;
}

a:not([href]):not([tabindex]).on,
a.on {
  //color: #444;
  //font-weight: bold;
}

.article {
  font-family: $articleFont;
}

.disabled {
  pointer-events: none;
  cursor: copy !important;
  opacity: 0.7;
}

.larger {
  font-size: 1.2em;
}

.large {
  font-size: 1.5em;
}

.smaller {
  font-size: .8em;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.bordered {
  border: 1px solid #eaeaea;
}

.option {
  color: #777 !important;
  cursor: pointer;
  border-radius: .2em;
  padding: .15em .4em .2em .4em !important;
  margin: auto .1em !important;
  transition-duration: .2s;
  transition-property: all;
}

.option:hover {
  color: #2c93e1 !important;
  background-color: rgba(45, 171, 252, 0.16) !important;
  border-radius: .2em;
}

.option.on {
  color: #fff !important;
  background-color: #055db5 !important;
  //font-weight: bold;
  border: 1px solid rgba(45, 171, 252, 0.15);
  // background: linear-gradient(to bottom,#086ed5,#055db5);
}

.padding-less {
  padding: 0 !important;
}

.margin-less {
  margin: 0 !important;
}

.full-screen {
  flex-grow: 1000;
}

.font-smaller {
  font-size: .85em;
}

.font-small {
  font-size: 11px;
}

.b {
  font-weight: 500;
}

.i {
  font-style: italic;
}

button, .link {
  cursor: pointer;
}

.light-text {
  color: #aaa !important;
}

.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}

.flex-100 {
  flex-grow: 100;
}

.flex-center {
  display: flex;
  align-items: center;
}

// bootstrap
.dropdown-item, .dropdown, .dropdown-toggle {
  cursor: pointer;
}

.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #eee;
  padding: .25em 0;
}

.form-control:focus {
  border-color: #4fa5c3;
}

.form-control::-webkit-input-placeholder {
  color: #ccc;
}

textarea.form-control {
  border: 1px solid #eee !important;
  padding: .25em;
}

.ace_gutter-layer {
  //background-color: rgb(250, 250, 252);
  background-color: #fff;
  border-right: 1px dotted #eee;
}

//// noty

//// end noty
