html, body, app {
  margin: 0;
  padding: 0;
}

app {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background-color: $defaultBackgroundColor;

  nav {
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-bottom: 1px solid #dddddd;
  }

  requests {
    flex-grow: 1;
    display: flex;
    background-color: tomato;
  }

  text-editor {
    flex-grow: 1;
    display: flex;
  }

  .text-editor {
    width: 100%;
    height: 100%;
  }
}