<div class="flex">
    <a class="flex-1 link btn-create-request ion-ios-copy-outline" (click)="createRequest()"> Import</a>
    <a class="flex-1 link btn-create-request ion-plus" (click)="createRequest()"> Create</a>
</div>
<ul class="list-unstyled">
    <li *ngFor="let request of requests"
        class="link"
        [ngClass]="{active: request.id === activeRequestId}">
        <a class="ion-close p-1" (click)="deleteRequest(request.id)"> </a>
        <a class="ion-android-arrow-dropup-circle p-1" (click)="upRequest(request.id)"> </a>
        <a [routerLink]="['/requests', request.id]">
            {{request.title || request.url || request.id}}
        </a>
    </li>
</ul>