<div class="toolbar font-small">
    <div class="flex-100">
        <a *ngFor="let v of availableViews"
           class="link option" [ngClass]="{on: view === v}"
           (click)="switchView(v)">{{v | rsTitleCase}}</a>
        <!--<input type="text" placeholder="search" (keydown.enter)="filterJson($event)"/>-->
    </div>
    <div class="flex-1 code" *ngIf="response">
        <span *ngIf="duration">{{duration}}ms</span>
        <span>{{response.status}}</span>
        <span>{{response.statusText}}</span>
    </div>
    <div>
        <div class="btn-group">
            <a class="ion-arrow-expand large link p-2" title="full screen" (click)="toggleFullScreen()"> </a>
            <a class="link ion-grid large p-2" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item link" (click)="digest()">View Digest</a>
                <a class="dropdown-item link" (click)="viewAsJson()">View As JSON</a>
                <a class="dropdown-item link" (click)="viewAsYaml()">View As YAML</a>
                <a class="dropdown-item link" (click)="viewAsHtml()">View As HTML</a>
                <a class="dropdown-item link" (click)="viewAsXml()">View As XML</a>
                <a class="dropdown-item link" (click)="clearResponse()">Clear</a>
            </div>
        </div>
    </div>
</div>
<div class="content" [ngSwitch]="view">
    <div class="flex flex-1" [hidden]="view + '' !== 'body'">
        <text-editor #editor [text]="bodyString" [mode]="bodyTextMode"
                     [observeText]="true"
                     [wrap]="true"
                     [lineNumbers]="true"
                     (onFullScreenChanged)="fullScreen = $event"></text-editor>
    </div>
    <div class="flex flex-1 p-2" *ngSwitchCase="'header'">
        <!--<pre class="flex-1 smaller" [innerHtml]="response?.headers | rsYaml | rsCode: 'yaml'"></pre>-->
        <table class="table table-striped table-sm smaller">
            <tbody>
            <tr *ngFor="let header of (response?.headers | rsSortKeys | rsToPairs)">
                <td class="b" style="min-width: 120px;">{{header.key}}</td>
                <td>{{header.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="flex-1 p-2" *ngSwitchCase="'request'">
        <div class="p-1 smaller">
            <a class="option" [ngClass]="{on: !shareView}" (click)="shareView = false">Preview Request</a>
            <a class="option" [ngClass]="{on: shareView}" (click)="shareRequest()">Share Request</a>
        </div>
        <hr/>

        <pre class="smaller" [innerHtml]="(previewRequest || {}) | rsYaml | rsCode: 'yaml'" *ngIf="shareView"></pre>
        <div *ngIf="!shareView">
            <div class="p-2 d-flex justify-content-end">
            </div>
            <textarea [id]="'share_' + id" class="form-control smaller code"
                      rows="10">{{request | rsSortKeys | rsJson}}</textarea>

            <div class="d-flex justify-content-end">
                <div class="mr-auto p-2">
                    <a class="btn btn-secondary btn-sm link copy" (click)="copyShare()"
                       [attr.data-clipboard-target]="'#share_' + id">Copy</a>
                    <!--<a class="btn btn-secondary btn-sm link" href="data:text/html,HelloWorld!" download="something.html">Download</a>-->
                </div>
                <div class="p-2">
                    <button class="btn btn-info btn-sm"
                            (click)="creatingMapping = !creatingMapping"
                            *ngIf="noOfConnections > 0">
                        Create Cloud Mapping
                    </button>
                </div>
            </div>

            <div class="p-2" *ngIf="defaultMapping">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Cloud Path</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="larger"><span class="ion-social-dropbox-outline p-2"></span></td>
                        <td class="p-2">{{defaultMapping.pathDisplay}}</td>
                        <td class="larger">
                            <status-button [clz]="'ion-ios-cloud-download p-2'"
                                           [loading]="downloading"
                                           (onClick)="download()"></status-button>
                            <status-button [clz]="'ion-ios-cloud-upload p-2'"
                                           [loading]="uploading"
                                           (onClick)="upload()"></status-button>
                            <a class="ion-close p-2" (click)="deleteMapping()"> </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="creatingMapping && request">
                <hr/>
                <div class="p-2">
                    <cloud-mapping [requestId]="request.id" [syncAccounts]="syncAccounts"
                                   [mapping]="request.cloudMapping"
                                   (onSave)="saveMapping($event)"
                                   (onMappingUpdated)="updateMapping($event)"></cloud-mapping>

                    <!--<cloud-file-picker [defaultPath]="''" [syncAccounts]="connections"-->
                    <!--(onPathSelected)="onSyncPathUpdated($event)"></cloud-file-picker>-->
                </div>
            </div>
        </div>

        <!--<pre *ngIf="request">{{request | rsYaml}}</pre>-->
    </div>
    <div class="flex flex-1 p-2" *ngSwitchCase="'schema'">
        <pre class="flex-1" [innerHtml]="(schema || {}) | rsYaml | rsCode: 'yaml'"></pre>
    </div>
    <div class="flex flex-1 p-2" *ngSwitchCase="'error'">
        <h1>Something goes wrong ... Have you installed the Chrome extension?</h1>
    </div>
</div>
