<div class="form-group row">
    <label class="col-3 col-form-label">Sync Account</label>
    <div class="col-9">
        <select class="custom-select">
            <option [value]="account.id" *ngFor="let account of syncAccounts">{{account.title}}</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <a class="col-3 col-form-label ion-android-folder-open" (click)="selectPath()"> Folder</a>
    <div class="col-9">
        <input class="form-control" [(ngModel)]="folder"
               (change)="setPath($event)">
    </div>
</div>
<div class="form-group row">
    <label class="col-3 col-form-label">File Name</label>
    <div class="col-9">
        <input class="form-control" [(ngModel)]="fileName"
               (change)="setPath($event)">
    </div>
</div>
<div class="form-group row" *ngIf="mapping?.sharedLink">
    <label class="col-3 col-form-label">Shared Link</label>
    <div class="col-9">
        <input class="form-control" value="bootstrap@example.com">
    </div>
</div>

<div>
    <button class="btn btn-sm btn-info" (click)="save()">Save</button>
    <!--<button class="btn btn-sm btn-info" (click)="generateSahredLink()">Generate Shared Link</button>-->
    <!--<button class="btn btn-sm btn-info" (click)="downloadFromCloud()">Download From Cloud</button>-->
</div>

<cloud-file-picker #pathPicker [syncAccounts]="syncAccounts" [fileExtension]="'.json'"
                   (onPathSelected)="pathSelected($event)"></cloud-file-picker>
